@using Class57_Homework.Models;
@using Class57.Data;
@model PeopleModelView

<div class="container">
    <br />
    <br />
    <input style="display: inline-block;width: 300px;" id="first-name" type="text" class="form-control" placeholder="First name">
    <input style="display: inline-block;margin-left: 10px; width: 300px;" id="last-name" type="text" class="form-control" placeholder="Last name">
    <input style="display: inline-block;margin-left: 10px; width: 100px;" id="age" type="text" class="form-control" placeholder="Age">
    <button style="margin-left: 10px;" id="add-person" class="btn btn-success">Add Person</button>
    <br />
    <br />
    <table id="people-table" class="table table-bordered table-striped table-hover">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        @foreach (Person p in Model.People)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Age</td>
                <td>
                    <button style="margin-left: 10px;"
                            data-id="@p.Id"
                            data-firstname="@p.FirstName"
                            data-lastname="@p.LastName"
                            data-age="@p.Age"
                            class="btn btn-info show-edit-modal">
                        Edit
                    </button>
                    <button style="margin-left: 10px;" data-id="@p.Id" class="btn btn-danger delete-person">Delete</button>
                </td>
            </tr>
        }
    </table>
</div>

<div id="edit-person-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Person</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>First Name</label>
                    <input id="edit-firstname" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input id="edit-lastname" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input id="edit-age" class="form-control" type="text">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary update-person" data-id="" >Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/Index.js"></script>
}